#vivid_note_reformat{
	/*background-color: #6FB7B7;*/
	width:100%;
}

#vivid_note_content{
	margin: 0 auto 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 100px;
	width: 60%;
}

.vivid_note_content_p{
	line-height: 30px;
	font-size: 18px;
}

#vivid_note_tool{
	background-color: #01B468;
	width: 120px;
	height: 100%;
	text-align: center;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
}

#vivid_BK{
	margin-top: 200px;
	width: 100px;
}

#vivid_SV, #vivid_MT, #vivid_PN{
	margin-top: 10px;
	width: 100px;
}

.searchBtn{
	width: 100px;
	margin-right: 10px;
	margin-left: 10px;
}

.modal-header{
	text-align: center;
}

.modal-body{
	text-align: center;
}

.pic_area{
	/*background-color: #A6FFA6;*/
	z-index: -1000;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0;
}

.pic_area_left{
	/*background-color: gray;*/
	z-index: -1000;
	position: absolute;
	left: 0;
	width: 200px;
	height: 100%;
	top: 0;
	/*margin-top: 20px;*/
	/*float: left;*/
}

.pic_area_right{
	/*background-color: gray;*/
	z-index: -1000;
	position: absolute;
	right: 120px;
	width: 200px;
	height: 100%;
	top: 0;
	/*margin-top: 20px;*/
	/*float: right;*/
}

.highlight-green {
  color: #00FF00;
}
